<nav class="bg-gray-800 p-4 shadow-md">
  <div class="container mx-auto flex justify-between items-center">
    <div class="flex space-x-4">
      <a href="/portfolio_dashboard" class="text-white px-3 py-2 rounded-md text-sm font-medium hover:bg-gray-700"><i class="fas fa-briefcase mr-2"></i>Portfolio Insights</a>
      <a href="/index" class="text-white px-3 py-2 rounded-md text-sm font-medium hover:bg-gray-700">Stocks</a>
      <a href="/strategies" class="text-white px-3 py-2 rounded-md text-sm font-medium hover:bg-gray-700">Strategies</a>
      <a href="/orders" class="text-white px-3 py-2 rounded-md text-sm font-medium hover:bg-gray-700">Ordered by Algorithms</a>
      <a href="/trade_stocks" class="text-white px-3 py-2 rounded-md text-sm font-medium hover:bg-gray-700"><i class="fas fa-dollar-sign mr-2"></i>Trade manually</a>      
      <a href="/recommendations" class="text-white px-3 py-2 rounded-md text-sm font-medium hover:bg-gray-700"><i class="fas fa-thumbs-up mr-2"></i>Recommendation</a>
      <a href="/predictions" class="text-white px-3 py-2 rounded-md text-sm font-medium hover:bg-gray-700">Predict Future</a>
      <a href="/transaction_history" class="text-white px-3 py-2 rounded-md text-sm font-medium hover:bg-gray-700">History</a>      
    </div>
    <div class="flex space-x-4">
      <a href="/logout" class="text-white px-3 py-2 rounded-md text-sm font-medium bg-red-500 hover:bg-red-600">Logout</a>
    </div>
  </div>
</nav>