<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.5.0/dist/semantic.min.js"></script>

    <link href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/trade_stocks.css">
    <link rel="stylesheet" href="../static/css/dashboard.css">
     <!-- External CSS -->
    
    <!-- Bootstrap Css -->
    <link href="../static/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css" />
    <!-- Icons Css -->
    <link href="../static/css/icons.min.css" rel="stylesheet" type="text/css" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.js"></script>
    <!-- ApexCharts CDN -->
    <script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>

    <!-- jQuery (Required for Bootstrap Tabs) -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Bootstrap JS (Required for Tabs) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>

    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" />


    <title>stocks</title>
</head>
<body>
  {% include 'navbar.html' %}

<br>
      <div class="ui container">

    <h1><a href="/index"><i class="angle left icon"></i> All Stocks</a></h1>
    <p style="font-size: large;"><b>{{strategy.name}}</b></p></h1>

    <h2>Stocks</h2>

    <table class="ui celled striped table">

        <thead>
          <tr>
            <th>Symbol</th>
            <th>Name</th>
          </tr>
        </thead>
        <tbody>
          {% for stock in stocks %}
            <tr>
                <td class="collapsing">
                 {{stock.symbol}}
                </td>
                <td><a href="/stock/{{stock.symbol}}">{{stock.name}}</a></td>
            </tr>    
          {% endfor %}    
     
        </tbody>
      </table>
    </div>
  </body>
  </html>